<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.sdcb.purchase.mapper.NoticePurchaseTypeMapper">
    <insert id="insertNotiPurchaseType" parameterType="com.nex_sdcb_admin.sdcb.purchase.dto.NoticePurchaseType">
        INSERT INTO TB_NOTI_PURCHASE_TYPE
        (REQUEST_ID, TRANSACTION_ID, PARTITION_ID, PURCHASE_ID, PAYMENT_CODE, PAYMENT_NAME, PAYMENT_AMT,
         STATUS, PURCHASE_DT, CANCEL_DT, NOTI_CREATE_DT, NOTI_UPDATE_DT)
        VALUES
            (#{requestId}, #{transactionId}, #{partitionId}, #{purchaseId}, #{paymentCode}, #{paymentName}, #{paymentAmt},
             #{status}, #{purchaseDt}, #{cancelDt}, #{notiCreateDt}, #{notiUpdateDt})
    </insert>
</mapper>