<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.sdcb.purchase.mapper.NoticePurchaseMapper">
    <insert id="insertNotiPurchase" parameterType="com.nex_sdcb_admin.sdcb.purchase.dto.NoticePurchase">
        INSERT INTO TB_NOTI_PURCHASE
        (REQUEST_ID, TRANSACTION_ID, PARTITION_ID, PURCHASE_ID, CTN, SUB_NO, EMAIL, STATUS, TOT_AMT, PURCHASE_DT,
         CANCEL_DT, NOTI_CREATE_DT, NOTI_UPDATE_DT, SEND_MMS_DT, SEND_EMAIL_DT, PAYMENT_CODE, PRODUCT_ID)
        VALUES
            (#{requestId}, #{transactionId}, #{partitionId}, #{purchaseId}, #{ctn}, #{subNo}, #{email}, #{status}, #{totAmt}, #{purchaseDt},
             #{cancelDt}, #{notiCreateDt}, #{notiUpdateDt}, #{sendMmsDt}, #{sendEmailDt}, #{paymentCode}, #{productId})
    </insert>
</mapper>