<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.sdcb.purchase.mapper.NoticePurchaseProductMapper">
    <insert id="insertNotiPurchaseProduct" parameterType="com.nex_sdcb_admin.sdcb.purchase.dto.NoticePurchaseProduct">
        INSERT INTO TB_NOTI_PURCHASE_PRODUCT
        (REQUEST_ID, TRANSACTION_ID, PARTITION_ID, PURCHASE_ID, PRODUCT_ID, PRODUCT_NAME, PRODUCT_AMT,
         AUTO_YN, AUTO_PERIOD_UNIT, AUTO_PERIOD_VALUE, SELLER_COMPANY, SELLER_NAME, SELLER_EMAIL, SELLER_REG_NUM,
         SELLER_PHONE, SELLER_ADDRESS, STATUS, PURCHASE_DT, CANCEL_DT, NOTI_CREATE_DT, NOTI_UPDATE_DT)
        VALUES
            (#{requestId}, #{transactionId}, #{partitionId}, #{purchaseId}, #{productId}, #{productName}, #{productAmt},
             #{autoYn}, #{autoPeriodUnit}, #{autoPeriodValue}, #{sellerCompany}, #{sellerName}, #{sellerEmail}, #{sellerRegNum},
             #{sellerPhone}, #{sellerAddress}, #{status}, #{purchaseDt}, #{cancelDt}, #{notiCreateDt}, #{notiUpdateDt})
    </insert>
</mapper>