<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.admin.sdcb.billing_history.mapper.BillingHistoryMapper">
    <insert id="insertBillingHistory" parameterType="com.nex_sdcb_admin.sdcb.billing_history.dto.BillingHistory">
        INSERT INTO TB_SDCB_COMPARE_RESULT(REQUEST_ID, COMPARE_MONTH, EVENT_TIME, CASE_CODE, TRANSACTION_ID, STATUS_CODE, TOT_AMT, CTN, SUB_NO, ACT_TYPE)
        VALUES (#{requestId}, #{compareMonth}, #{eventTime}, #{caseCode}, #{transactionId}, #{statusCode}, #{totAmt}, #{ctn}, #{subNo}, #{actType})
    </insert>

    <select id="selectBillingHistoryList" parameterType="map" resultType="com.nex_sdcb_admin.sdcb.billing_history.dto.BillingHistory">
        SELECT * FROM TB_SDCB_COMPARE_RESULT
        WHERE 1 = 1
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND STR_TO_DATE(COMPARE_MONTH, '%Y%m') BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m') AND STR_TO_DATE(#{endDate}, '%Y-%m')
        </if>
        <if test="caseCode != null and caseCode != ''">
            AND CASE_CODE = #{caseCode}
        </if>
        <if test="ctn != null and ctn != ''">
            AND CTN = #{ctn}
        </if>
    </select>
</mapper>