<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.sdcb.pay_detail.mapper.PayDetailMapper">
    <select id="selectPaymentDetailByProductName" parameterType="map" resultType="com.nex_sdcb_admin.sdcb.pay_detail.dto.PayDetailDto">
        SELECT C.CTN, C.PURCHASE_DT AS purchaseDate, C.CANCEL_DT AS cancelDate, A.PAYMENT_AMT AS price, A.PAYMENT_NAME, B.PRODUCT_NAME, B.SELLER_COMPANY, B.SELLER_NAME
        FROM TB_NOTI_PURCHASE_TYPE A
        LEFT OUTER JOIN TB_NOTI_PURCHASE_PRODUCT B ON (A.PARTITION_ID = B.PARTITION_ID AND A.REQUEST_ID = B.REQUEST_ID)
        LEFT OUTER JOIN TB_NOTI_PURCHASE C ON (A.PARTITION_ID = C.PARTITION_ID AND A.REQUEST_ID = C.REQUEST_ID)
        WHERE 1 = 1
        <if test="keyword != null and keyword != 0">
            B.PRODUCT_NAME LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="paymentTypes != null and paymentTypes.size() > 0">
        <foreach collection="paymentTypes" item="paymentType" open="AND (" separator=" OR " close=")">
        <if test="paymentType == '기타'">
            A.PAYMENT_NAME NOT IN ('휴대폰결제', '신용카드', 'U+스토어 캐쉬', '문화상품권(컬처캐쉬)', '쿠폰 결제')
        </if>
        <if test="paymentType != '기타'">
            A.PAYMENT_NAME = #{paymentType}
        </if>
        </foreach>
        </if>
        AND C.PURCHASE_DT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m') AND LAST_DAY(STR_TO_DATE(CONCAT(#{endDate}, '-01'), '%Y-%m-%d'))
        ORDER BY purchaseDate
    </select>

    <select id="selectPaymentDetailByCtn" parameterType="map" resultType="com.nex_sdcb_admin.sdcb.pay_detail.dto.PayDetailDto">
        SELECT C.CTN, C.PURCHASE_DT AS purchaseDate, C.CANCEL_DT AS cancelDate, A.PAYMENT_AMT AS price, A.PAYMENT_NAME, B.PRODUCT_NAME, B.SELLER_COMPANY, B.SELLER_NAME
        FROM TB_NOTI_PURCHASE_TYPE A
        LEFT OUTER JOIN TB_NOTI_PURCHASE_PRODUCT B ON (A.PARTITION_ID = B.PARTITION_ID AND A.REQUEST_ID = B.REQUEST_ID)
        LEFT OUTER JOIN TB_NOTI_PURCHASE C ON (A.PARTITION_ID = C.PARTITION_ID AND A.REQUEST_ID = C.REQUEST_ID)
        WHERE 1 = 1
        <if test="keyword != null and keyword != 0">
                C.CTN = #{keyword}
        </if>
        <if test="paymentTypes != null and paymentTypes.size() > 0">
            <foreach collection="paymentTypes" item="paymentType" open="AND (" separator=" OR " close=")">
                <if test="payment == '기타'">
                    A.PAYMENT_NAME NOT IN ('휴대폰결제', '신용카드', 'U+스토어 캐쉬', '문화상품권(컬처캐쉬)', '쿠폰 결제')
                </if>
                <if test="payment != '기타'">
                    A.PAYMENT_NAME = #{paymentType}
                </if>
            </foreach>
        </if>
        AND C.PURCHASE_DT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m') AND LAST_DAY(STR_TO_DATE(CONCAT(#{endDate}, '-01'), '%Y-%m-%d'))

        ORDER BY purchaseDate
    </select>

    <select id="selectPaymentDetailByCompanyName" parameterType="map" resultType="com.nex_sdcb_admin.sdcb.pay_detail.dto.PayDetailDto">
        SELECT C.CTN, C.PURCHASE_DT AS purchaseDate, C.CANCEL_DT AS cancelDate, A.PAYMENT_AMT AS price, A.PAYMENT_NAME, B.PRODUCT_NAME, B.SELLER_COMPANY, B.SELLER_NAME
        FROM TB_NOTI_PURCHASE_TYPE A
        LEFT OUTER JOIN TB_NOTI_PURCHASE_PRODUCT B ON (A.PARTITION_ID = B.PARTITION_ID AND A.REQUEST_ID = B.REQUEST_ID)
        LEFT OUTER JOIN TB_NOTI_PURCHASE C ON (A.PARTITION_ID = C.PARTITION_ID AND A.REQUEST_ID = C.REQUEST_ID)
        WHERE 1 = 1
        <if test="keyword != null and keyword != 0">
                B.SELLER_NAME LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="paymentTypes != null and paymentTypes.size() > 0">
            <foreach collection="paymentTypes" item="paymentType" open="AND (" separator=" OR " close=")">
                <if test="payment == '기타'">
                    A.PAYMENT_NAME NOT IN ('휴대폰결제', '신용카드', 'U+스토어 캐쉬', '문화상품권(컬처캐쉬)', '쿠폰 결제')
                </if>
                <if test="payment != '기타'">
                    A.PAYMENT_NAME = #{paymentType}
                </if>
            </foreach>
        </if>
        AND C.PURCHASE_DT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m') AND LAST_DAY(STR_TO_DATE(CONCAT(#{endDate}, '-01'), '%Y-%m-%d'))

        ORDER BY purchaseDate
    </select>
</mapper>
